/* starter code */

html,
body {
  font-size: 100%;
  margin: 0;
} /* user's default. use rem to set other fonts relative to it */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
} /* make box sizing more predictable! */



/*****************************************************************
*****************************************************************/

/* elements */

body {
  /*background-color: #1a053a;*/
  background-color: #37167c;
}

header {
  /*background-color: #694f90;*/
  background-color: #dfd6da;
  padding: 20px;
  color: #1d2352;
}

header h2 {
  text-align: right;
  max-width: 500px;
}

a {
  text-decoration: none;
  font-weight: bold;
}


/*****************************************************************
*****************************************************************/

.wrapperMain {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  max-width: 900px;
  color: #dfd6da;
  font-size: 1.1em;
  line-height: 1.6;
}

.flexcontainerGuides {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
  font-size: 0.9em !important
}

.flexchildGuide {
  text-align: center;
  border-radius: 20px;
  color: #dfd6da;
  width: 160px;
  height: 130px;
  padding: 20px;
  padding-top: 40px;
  line-height: 1;
  background-color: #1d2352;
  border: 4px solid #e9b568;
}

.flexchildGuide:hover {
  background-color: rgb(93, 93, 93);
  color: #e9b568;
  border: 4px solid #4faead;
}

@media (max-width: 450px) {
  .flexchildGuide {
    text-align: center;
    border-radius: 20px;
    color: white;
    width: 130px;
    height: 100px;
    padding: 20px;
    padding-top: 25px;
    font-size: 0.8em;
  }
}
